/* CSS Document */

* {
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}

body, html {
    margin: 0;
    background: #000;
}

canvas {
    width: 100%;
    height: 100%;
    position: fixed;
}

#score {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    font-size: 30px;
    color: #FFF;
    padding-top: 5px;
    padding-left: 10px;
}

#life {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 100;
    font-size: 30px;
    color: #FFF;
    padding-top: 5px;
    padding-right: 10px;
}

#endscreen {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 200;
    color: #FFF;
    font-size: 60px;
    display: none;
    text-align: center;
}